In [3]:
import pandas as pd
import numpy as np

In [4]:
aapl_stock_data = pd.read_csv('data/AAPL.csv')

In [7]:
aapl_stock_data.tail(7)

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
2510,2017-11-22,173.36,175.00,173.0500,174.96,24997274.0,0.0,1.0,173.36,175.00,173.0500,174.96,24997274.0
2511,2017-11-24,175.10,175.50,174.6459,174.97,14026519.0,0.0,1.0,175.10,175.50,174.6459,174.97,14026519.0
2512,2017-11-27,175.05,175.08,173.3400,174.09,20536313.0,0.0,1.0,175.05,175.08,173.3400,174.09,20536313.0
2513,2017-11-28,174.30,174.87,171.8600,173.07,25468442.0,0.0,1.0,174.30,174.87,171.8600,173.07,25468442.0
2514,2017-11-29,172.63,172.92,167.1600,169.48,40788324.0,0.0,1.0,172.63,172.92,167.1600,169.48,40788324.0
2515,2017-11-30,170.43,172.14,168.4400,171.85,40172368.0,0.0,1.0,170.43,172.14,168.4400,171.85,40172368.0
2516,2017-12-01,169.95,171.67,168.5000,171.05,39590080.0,0.0,1.0,169.95,171.67,168.5000,171.05,39590080.0

In [8]:
type(aapl_stock_data)

pandas.core.frame.DataFrame